{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'app/content/banner1.jpg' %}" alt="Первый слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>Сургут</h3>
                <p>
                    Наш город
                    <a class="btn btn-default" href="{% url 'blog' %}">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'app/content/banner2.jpg' %}" alt="Второй слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>Сургут</h3>
                <p>
                    Наш город
                    <a class="btn btn-default" href="{% url 'about' %}">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'app/content/banner3.jpg' %}" alt="Третий слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>Сургут</h3>
                <p>
                    Наш город
                    <a class="btn btn-default" href="{% url 'contact' %}">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Вперед</span>
    </a>
</div>

<div class="jumbotron">
    <h1>Сургут</h1>
    <p class="lead">Сургу́т — город в России, крупнейший и старейший город Ханты-Мансийского автономного округа — Югры, административный центр Сургутского района.</p>
    <p><a href="{% url 'about' %}" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Раздел 1</h2>
        <p>
            Описание первого раздела вашего сайта.
        </p>
        <p><a class="btn btn-default" href="{% url 'blog' %}">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Раздел 2</h2>
        <p>Описание второго раздела вашего сайта.</p>
        <p><a class="btn btn-default" href="{% url 'anketa' %}">Подробнее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Раздел 3</h2>
        <p>Описание третьего раздела вашего сайта.</p>
        <p><a class="btn btn-default" href="{% url 'registration' %}">Подробнее &raquo;</a></p>
    </div>
</div>

{% endblock %}